/*
File: About.css
?: Styling for components in About. 
*/


.title{
    background: rgb(182, 182, 182);
    font-size: 400%;
    text-align: center;
    color:black;
    padding: 15px;
    padding-top: 55px;
}

.row{
    background: rgb(231, 231, 231);
    display: grid;
    grid-auto-flow:column;
    margin-left: 100px;
    margin-right: 100px;
}

.content{
    
    background-color: rgb(255, 255, 255);
    position: relative;
    text-align: center;
    width: auto;
    min-width: 200px;
    max-width: 600px;
    height: auto;
    padding: 5px;
    border-radius: 25px;
    margin: 50px;
}
.name{
    padding: 5px;
    font-size: 200%;
    border-bottom: 1px solid rgb(131, 131, 131);
    margin-left: 50px;
    margin-right: 50px;
}
.text{
    margin: 15px;
    font-size: 100%;
    min-height: 80px;

}

.contact{
    padding: 10px;
    font-size: 100%;
    border-top: 1px solid rgb(131, 131, 131);
    margin-left: 50px;
    margin-right: 50px;
}


