/*
File: About.css
?: Styling for components in About. 
*/


.title{
    margin-top: 55px;
    font-size: 400%;
    text-align: center;
    color:black;
    padding: 20px;
}

.row{
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
}

.content{
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(247, 228, 204);
    position: relative;
    text-align: center;
    width: auto;
    height: 200px;
    padding: 5px;
    left: auto;
    right: auto;
    border-radius: 25px;
}
.name{
    padding: 5px;
    font-size: 200%;
    border-bottom: 1px solid rgb(131, 131, 131);
    margin-left: 50px;
    margin-right: 50px;
}
.text{
    margin: 10px;
    font-size: 100%;
    margin-bottom: 25px;
}


