
.footPage{
    font-size: 200%;
    text-align: center;
    position: relative;
    background: #8e3600;
    left: 0%;
    right: 0%;
    height: auto;
    bottom: 0%;
    padding: 10px;
}
.footRow{
column-count: 2;
padding-left: 50px;
padding-right: 50px;
}
.footCont{
    color: lightgrey;
    font-size: 15px;
    text-align: center;
    margin: 5px;
}
.footer{
    margin-top: 15px;
    font-size: 120%;
}
a {
    color: darkgrey
}
a:hover{
    color: grey;
}