
.footPage{
    border-top: 1px solid rgb(131, 131, 131);
    margin-top: 55px;
    font-size: 200%;
    text-align: center;
    position: relative;
    background: rgb(255, 255, 255);
    left: 0%;
    right: 0%;
    height: 100px;
    bottom: 0%;

}
.footRow{

}
.footColumn{

}
.footContent{

}