
.resultItem {
    font-style:italic;
    font-size: larger;
}

.saveButton {
    float: right;
   padding-left: 8px;
   padding-right: 8px; 
   border: .5px solid grey;
   border-radius: 6px;
}


.deleteButton{
    float: right;
    padding-left: 8px;
    padding-right: 8px; 
    border: .5px solid grey;
    border-radius: 6px;
}
.removeX{
   max-height: 27px;
   display: grid;
   text-align: center;
   padding-left: 8px;
   padding-right: 8px; 
   border: .5px solid grey;
   border-radius: 6px;
   font-size: 14px;
   background: white;
   font-size: 17px;
}