.search_title{
    margin: 20px;
    text-align: center;
    font-size: 40px;
    color: rgb(32, 32, 32);
}
.search_bar{
    width: 100%;
    position: block;
    height: 100%;
    border-radius: 25px;
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid grey;
    background: rgb(238, 238, 238);
}
.search_bar:focus{
    outline: none;
    border: 1px solid black;
    
}
.search_bar_wrapper{
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
    height: 40px;
    
}
.search_page{
    background: #dbdfcd;
    height: auto;
    margin: 0 auto;
    min-height: 100vh;
    max-width: 1400px;
    min-width: 500px;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 1px;
    width: 70%;
}
.results{
    min-height: 400px;
    width: 100%;
    margin: 50px auto;
    max-width: 1000px;
    font-size: 16px;
}
.resultItems{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.1));
    margin: 15px auto;
    background-color: rgb(233, 233, 233);
    padding: 10px;
    border-radius: 10px;
    border: .5px solid grey;
}
#submitButtonSearch{
    margin-top: 15px;
    margin-bottom: 15px;
    height: 25px;
    width: 60px;
    border: 1px solid black;
}