/*
File: Login.css
?: Styling for components in Login. 
*/
.formEntry {
    margin: auto;
  
    display: block;
    width: 60%;
    
  
    border: 2px solid #20201d;
  
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
    top: 50px;
    left: 5px;
    right: 5px;
    bottom: 6000px;
}
.formEntry h1 {
    text-align: center;

}
.nobottomborder { 
    border-bottom: none;
}
.notopborder {
    border-top: none;
}
#submitButton { 
    margin: 2%;
    padding: 5px;
}
.signOut {
    padding: 20px;
    position: relative;
    top: 50px;
    left: 5px;
    right: 5px;
    bottom: 6000px;
}